[user]
  name =  Ben Turner
  email = ben.turner@pobox.com
[alias]
  b = branch
  co = checkout
  st = status
  di = diff
  dc = diff --cached
  dh1 = diff HEAD~1
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  amend = commit --amend
  lt = describe --tags
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lgt = log --graph --pretty=format:'%Cred%h%Creset%C(yellow bold)%d%Creset %s %Cgreen(%cr) %C(blue bold)<%an>%Creset' --abbrev-commit
  lgtt = log --first-parent --topo-order --all --graph --pretty=format:'%Cred%h%Creset%C(yellow bold)%d%Creset %s %Cgreen(%cr) %C(blue bold)<%an>%Creset' --abbrev-commit
  tagh = for-each-ref --format '%(refname) %09 %(taggerdate) %(subject) %(taggeremail)' refs/tags  --sort=taggerdate
  ctags = !.git/hooks/ctags
  clean=!git branch --merged master | grep -v "\\* master" | xargs -n 1 git branch -d'
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  clean-remote = !git branch -r --merged | grep -v master | sed 's/origin\\///' | xargs -n 1 git push --delete origin
[color]
  diff = auto
  status = auto
  branch = auto
[commit]
  verbose = true
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[apply]
  whitespace = nowarn
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[branch]
  autosetuprebase = always
[push]
  default = current
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[fetch]
	prune = true
[url "git@github.com:"]
	insteadOf = https://github.com/
# [url "ssh://git@gitlab.com/"]
[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/
[rebase]
	autosquash = true
	autostash = true
[includeIf "gitdir:~/code/99designs/"]
  path = ~/code/99designs/.gitconfig
